# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** 
- List Popular Languages
- Commonly Use Libraries
- Examples of Expressions

## Author
Julia Krasniqi

Some of the popular langagues that Data Scients use are:
1. C++
2. Java
3. Julia

Some of the commonly used libraries used by Data Scientists include:
- dplyr
- stringr
- ggplot

|Data Science Tools|
-
|Git|
|Jupyterlab |
|VisualStudio |

### Below are a few expamples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [6]:
200/60

3.3333333333333335